name: Package

on:
  push:
    branches:
      - main

jobs:
  package:
    runs-on: ubuntu-latest
    name: linux
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade setuptools build
      - name: Fetch and compile wheels
        run: |
          make
      - name: Upload wheels
        uses: actions/upload-artifact@v6
        with:
          name: packaged-wheels.tar.gz
          path: ./dist
